.login.appContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.login img{
    width: 204px;
    margin-bottom: 80px;
}

.login form{
    display: flex;
    gap: 13px;
    flex-direction: column;
    width: 85%;
}

.login label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #333;
    font-weight: 400;
    font-size: 13px;
}
.login input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #999;
    padding-left: 10px;
    order:1;
    font-size: 13px;
}

.login input:focus{
    border: 1px solid #F79726;
}

.login input:focus + span{
    color: #F79726;
}

.login .loginBtn{
  width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
    order:1;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
    background-color: #F79726;
    font-weight: 500;
}



.login .authActionBox{
    display: flex;
    gap: 15px;

}
.login .authActionBox span{
    font-weight: 400;
    font-size: 14px;
    color: #333;
}
