* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 15px;
  background: linear-gradient(to bottom, #fdf1d3 0%, #fcf6e3 50%, #fcf9ef 100%);
  display: flex;
  justify-content: center;

}

/* reset css */
a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

input {
  outline: none;
}

.appContainer {
  max-width: 420px;
  width: 100%;
   /* width: 420px; */
  background-color: #fff;
  padding: 0 24px;
  padding-top: 60px;
  /* Header 높이 */
  height: calc(100vh - 100px);
  overflow-y: auto;
  scrollbar-width: none;      
  -ms-overflow-style: none;
}

.appContainer::-webkit-scrollbar {
  display: none;              /* Chrome, Safari */
}

.mainContainer {
  width: 420px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.react-datepicker__portal {
  background-color: rgba(0, 0, 0, 0.3);
}