.card {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 12px;
  background: white;
  overflow: hidden;
  gap: 12px;
}

.image-wrapper {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
}
.recipe-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.heart {
  position: absolute;
  top: 8px;
  right: 8px;
  background: white;
  border-radius: 50%;
  border: none;
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingredient {
  font-size: 0.8rem;
  color: #555;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  margin-bottom: 6px;
  max-height: calc(1.2em * 3);
  line-height: 1.2em;
}

.type,
.way {
  font-size: 0.75rem;
  color: #777;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}